.body {
    margin:0;
    padding:0;
    font-family: arial;
}

.qtext {
    line-height:2em;
    margin-top: 1px;
    margin-bottom: 0.5em;
    display:block;
}

.ie7 .qtext {
    line-height:2.3em;
    margin-top: 1px;
    margin-bottom: 0.5em;
    display:block;
}

.answercontainer {
    margin-bottom:1em;
    display:block;
}

.answertext {
    padding-bottom: 0.5em;
    line-height:2em;
}
.ie7 .answertext {
    padding-bottom: 0.5em;
    line-height:2.3em;
}

.linebreak {
    margin-bottom: 0.75em;
}

.slot {
    text-align:center;
    border: thin solid #000000;
}
.player {
    text-align:center;
    cursor:move;
    margin: 0em 0em 0.2em 0.3em;
    border: thin solid #000000;
}

.ie7 .slot {
    padding-bottom: 0.2em;
}
.ie8 .slot {
    padding-bottom: 0.4em;
}
.ie8 .player {
    padding-bottom: 0.4em;
}

.disabled {
    cursor:default;
}

.group1 {
    background-color: #FFFFFF;
}
.group2 {
    background-color: #DCDCDC;
}
.group3 {
    background-color: #B0C4DE;
}
.group4 {
    background-color: #D8BFD8;
}
.group5 {
    background-color: #87CEFA;
}
.group6 {
    background-color: #DAA520;
}
.group7 {
    background-color: #FFD700;
}
.group8 {
    background-color: #F0E68C;
}
