.qtext {
    line-height:2em;
    margin-top: 1px;
    margin-bottom: 0.5em;
    display: block;
}

.answercontainer {
    line-height: 2em;
    margin-bottom:1em;
    display: block;
}

.answertext {
    padding-bottom: 0.5em;
}

.slot {
    display: inline-block;
    text-align: center;
    border: 1px solid #000000;
}
.player {
    display: inline-block;
    text-align: center;
    cursor: move;
    border: 1px solid #000000;
}
.player.placed { /* Lets the focus rectangle be visible in IE. */
    background: transparent;
}

.readonly {
    cursor: default;
}

.group1 {
    background-color: #FFFFFF;
}
.group2 {
    background-color: #DCDCDC;
}
.group3 {
    background-color: #B0C4DE;
}
.group4 {
    background-color: #D8BFD8;
}
.group5 {
    background-color: #87CEFA;
}
.group6 {
    background-color: #DAA520;
}
.group7 {
    background-color: #FFD700;
}
.group8 {
    background-color: #F0E68C;
}
